* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

body header {
    font-family: 'Montserrat', sans-serif;
    background-color: darkkhaki;
    padding: .5em 0;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#navMenu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

#navMenu ul li {
    display: block;
    float: left;
    width: 15%;
    text-align: center;
    text-decoration: none;
    
}

#navMenu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#navMenu ul ul li {
    float: none;
}

#navMenu ul li:hover ul {
    display: block;
}

#navMenu > ul::after {
    content: "";
    display: block;
    clear: both;
}

#navMenu ul li:last-child {
    float: right;
}

#navMenu ul li a {
    display: block;
    text-decoration: none;
    background-color: darkkhaki;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: .5em 0;
}

#navMenu ul li a:hover {
    color: #6081FF;
}

#question {
    width: 20px !important;
    float: right;
    font-weight: bold;
    margin-right: 1em;
}

#mobileMenu {
    display: none;
}

@media only screen and (max-width: 1636px) {
    #title, #hashAlg, #hash, #question {
        padding-top: .5em;
    }
}

@media only screen and (max-width: 1180px) {
    #hashAlg {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1072px) {
    #hashAlg {
        padding-top: 0;
    }
}

@media only screen and (max-width: 987px) {
    #navMenu {
        display: none;
    }
    
    #mobileMenu {
        display: block;
    }
}