* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

body nav {
    font-family: 'Montserrat', sans-serif;
    background-color: darkkhaki;
    padding: .5em 0;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav_menu ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

#nav_menu ul li {
    float: left;
    width: 15%;
    text-align: center;
    text-decoration: none;
    
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover ul {
    display: block;
}

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}

#nav_menu ul li a {
    display: block;
    text-decoration: none;
    background-color: darkkhaki;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: .5em 0;
}

#nav_menu ul li a:hover {
    color: #6081FF;
}

#titleA {
    font-weight: bold;
    color: black !important;
}

#md5, #weak {
    margin-top: .6em;
    border-top: 1px solid darkkhaki;
    border-radius: 3px;
}

#sha3, #strong {
    border-bottom: 1px solid darkkhaki;
    border-radius: 3px;
}

#hAsh {
    color: #6081FF !important;
    font-weight: bold;
}

#hAsh:hover {
    color: black !important;
}

#mobileMenu {
    display: none;
}

@media only screen and (max-width: 1636px) {
    #title, #hashAlg, #hash, #question {
        padding-top: .5em;
    }
}

@media only screen and (max-width: 1180px) {
    #hashAlg {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1072px) {
    #hashAlg {
        padding-top: 0;
    }
}

@media only screen and (max-width: 987px) {
    #nav_menu {
        display: none;
    }
    
    #mobileMenu {
        display: block;
    }
    
    .slicknav_menu {
        background-color: darkkhaki !important;
        padding: 0 !important;
    }
    
    i {
        display: none;
    }
    
    #title {
        display: none;
    }
    
    #hAsh {
        color: black !important;
    }
}